:root {
    font-size: 12px;
    @media screen and (max-width: 500px) {
        font-size: 6px;
    }
}
.header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    h1 {
        font-weight: 500;
        font-size: 6rem;
        margin: 0;
        line-height: 6rem;
    }
    h4 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        margin-top: 2rem;
    }
}
body, html {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}
* {
    box-sizing: border-box;
}
::selection {
    color: white;
    background: rgb(185, 0, 0);    
}
header {
    width: 100vw;
    height: 100vh;
    canvas {
        width: 100%;
        height: 100%;
    }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: rgb(153, 153, 153);
    z-index: 2;
    text-align: center;
    padding: 2vh 0;
    font-size: 1.25rem;
    @media screen and (max-width: 500px) {
        font-size: 2.25rem;
    }
    a {
        color: rgb(116, 0, 0);
        text-decoration: none;
        font-weight: 500;
    }
}